/* input styles */
input[type="text"] {
    border: none;
    border-radius: 4px;
    background-color: #F2F2F2;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 150px;
  }
  
  /* submit button styles */
  button[type="submit"] {
    border: none;
    border-radius: 4px;
    background-color: #0275d8;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0066cc;
  }
  