/* reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* set background color and font family */
body {
    background-image: linear-gradient(to bottom right, #1c6658, #120f22);
    background-attachment: fixed;

    font-family: Bahnschrift;
  height: 100%;
}

/* set logo styles */
.logo {
  width: 200px;
  height: 200px;
  background-image: url('gamerank_logo_transp_nosmalltext.png');
  background-size: cover;
    background-position: center;
  margin: -50px auto;
}

/* set side menu styles */
.side-menu {
background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.side-menu .navigation ul a {
    display: block;
    padding: 10px 20px;
    color: #212121;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.1s ease;
  border-radius: 20px;
  background-image: linear-gradient(to right, #FF512F, #DD2476);
  color: #FFFFFF;
  margin: 20px;
  transition: opacity 0.3s ease;
}

.side-menu ul a:hover {
  opacity: 0.7;
}

.side-menu ul a.disabled {
  opacity: 0.5;
}

.games {
  margin-top: 100px;
}

a.gameslink{
  display: block;
  padding: 5px 20px 0px 20px;
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.1s ease;
  border-radius: 20px;
  background-color: #fff;
  color: #FFFFFF;
  margin: 10px 20px;
  transition: opacity 0.3s ease;
  text-align: center;
}

.side-menu .games ul a img{
  height: 40px;
}


/* set main content styles */
.main-content {
  margin-left: 250px;
  padding: 20px;
  color: #FFFFFF;
}

/* set profile menu styles */
.profile-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #212121;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

img.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.profile-menu a {
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.1s ease;
  border-radius: 20px;
  color: #FFFFFF;
  margin: 20px;
  transition: opacity 0.3s ease;
}

.header-container {
  margin: 130px 0 0 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
}

img.arrow{
  width: 18px;
  height: 18px;
  margin: 0 30px 0 30px;
  vertical-align: middle;
  display: inline;
  cursor: pointer;
}

#left{
  opacity: 0.3;
}

.header-container h2 {
  font-size: 20px !important;
}

.header-nested-container {
  width: 100%;
  margin: 0 2% 0 2%;
  background-color: #DD2476 !important ;
  border-radius: 30px 30px 0 0;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
}

/* set leaderboard styles */
.leaderboard {
  margin-top: 30px;
}

.leaderboard h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.leaderboard table {
  width: 46%;
  margin: 0 2% 0 2%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.leaderboard th,
.leaderboard td {
  padding: 8px;
}

.leaderboard tr:nth-child(1) td {
  color: #ffcb11 !important;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.leaderboard tr:nth-child(2) td {
  color: #868686 !important;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.leaderboard tr:nth-child(3) td {
  color: #b24b10 !important;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

.leaderboard th {
  background-color: #DD2476;
  font-weight: 700;;
}

.leaderboard td {
  background-color: #212121;
}

.table-container table {
  border-spacing: 0;
}