/* reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set background color and font family */
body {
    background-image: linear-gradient(to bottom right, #1c6658, #120f22);
  font-family: Bahnschrift;
  height: 100%;
}

/* set logo styles */
.logo {
  width: 200px;
  height: 200px;
  background-image: url('gamerank_logo_transp_nosmalltext.png');
  background-size: cover;
    background-position: center;
  margin: -50px auto;
}

/* set side menu styles */
.side-menu {
background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.side-menu a {
    display: block;
    padding: 10px 20px;
    color: #212121;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.1s ease;
  border-radius: 20px;
  background-image: linear-gradient(to right, #FF512F, #DD2476);
  color: #FFFFFF;
  margin: 20px;
  transition: opacity 0.3s ease;
}

.side-menu a:hover {
  opacity: 0.7;
}

/* set main content styles */
.main-content {
  margin-left: 250px;
  padding: 20px;
  color: #FFFFFF;
}

/* set profile menu styles */
.profile-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #212121;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

img.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.profile-menu a {
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.1s ease;
  border-radius: 20px;
  color: #FFFFFF;
  margin: 20px;
  transition: opacity 0.3s ease;
}

/* set leaderboard styles */
.leaderboard {
  margin-top: 30px;
}

.leaderboard h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.leaderboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: center;
}

.leaderboard th,
.leaderboard td {
  padding: 10px;
  border: 1px solid #FFFFFF;
}

.leaderboard th {
  background-color: #DD2476;
  color: #FFFFFF;
  font-weight: 700;
}

.leaderboard td {
  background-color: #FFFFFF;
  color: #212121;
}
